{% extends 'base.html' %}
{% block content %}

<div class="container">

    <!-- Map -->
    <div class="map-container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15415.19148563886!2d36.81088505!3d-1.2710465999999983!2m3!1f0!2f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f176ef982ad37%3A0x9f0b44835250407e!2sWestlands%20Massage%20Spa%20Nairobi%20Ethiopian%20Girls!5e1!3m2!1ssw!2ske!4v1770975507565!5m2!1ssw!2ske"
            allowfullscreen
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

    <!-- Contact Form -->
    <div class="form-container">
        <h2>Send Us a Message</h2>
        <form action="#" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>

            <input type="email" name="email" placeholder="Your Email" required>

            <textarea name="description" placeholder="Your Message" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>

</div>

{% endblock %}